$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;

$font-weight-bold: 700;
$font-weight-normal: normal;

.text-sm {
  font-size: $font-size-sm !important;
}
.text-md {
  font-size: $font-size-md !important;
}
.text-lg {
  font-size: $font-size-lg !important;
}
.text-xl {
  font-size: $font-size-xl !important;
}
.bold {
  font-weight: $font-weight-bold !important;
}
.normal {
  font-weight: $font-weight-normal !important;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}